# --- TERRAFORM ---
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# --- KVM & DISK IMAGES ---
*.iso
*.qcow2
*.img
OS_Resources/

# --- LOGS & TEMPORARY FILES ---
*.log
*.tmp

# ---Packer---
packer*

# --- OS SPECIFIC (UBUNTU/LINUX) ---
.DS_Store
.directory
.nfs*

# --- IDE (VS CODE) ---
.vscode/
.history/