# --- TERRAFORM ---
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# --- KVM & DISK IMAGES ---
*.iso
*.qcow2
*.img

# --- LOGS & TEMPORARY FILES ---
*.log
*.tmp

# --- Packer ---
packer_build/output-*/*

# --- OS SPECIFIC (UBUNTU/LINUX) ---
.DS_Store
.directory
.nfs*

# --- IDE (VS CODE) ---
.vscode/
.history/